<div>
    <h1>About</h1>
    <h3>Revature Task Force Application v1.0.0.</h3>
    <p>Everybody is busy in todays world, so tracking your everyday tasks is a crucial tool in productivity. With Revature Task Force, we have made it easy for users to manage their tasks. Users can see all tasks and find specific tasks with ease with a filter/search feature. The User can also create new tasks, along with updating and deleting current tasks. Users can access this application via an interactive client-side single paged application hosted on an AWS S3 bucket and consumes a RESTful web service that provides business logic and access to a database.</p>
    
  </div>
