<div>
  <label>Todo name:
    <input #todoName class="inputbox"/>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(todoName.value); todoName.value=''">
    Add
  </button>
</div>
<div>
  <table>
    <thead>
       <tr>
          <th>#ID</th>
          <th>Title</th>
          
          <th colspan="2">Action</th>
       </tr>
    </thead>
    <tbody>
      
       <tr *ngFor="let todo of todos">
          <td>{{ todo.id }}</td>
          <td *ngIf="!selectedTodo || todo.id != selectedTodo.id">
            <span [ngClass]="{'plain': !this.todo.completed, 'inethrouh': this.todo.completed}">{{ todo.title }}</span>
          </td>
          <td *ngIf="selectedTodo && todo.id == selectedTodo.id">
              <button *ngIf="!todo.completed" (click)="completeTodoItem(todo)" class="todo-row">Mark Complete</button>
              <span *ngIf="todo.completed" class="todo-row">Completed</span>
              <input [(ngModel)]="selectedTodo.title" placeholder="description" class="todo-input"/>
              <button (click)="cancelUpdateTodoItem()" class="right-button">Cancel</button>
              <button (click)="saveTodoItem(todo)" class="right-button">Save</button>
              
          </td>
         
          <td>
              <button title="update todo" (click)="editTodo(todo)">Edit</button>
          </td>
          <td>
             <button title="delete todo" (click)="delete(todo)">Delete</button>
            
          </td>
      
       </tr>
    
    </tbody>
 </table>
</div>
