<div [ngClass] ="setClasses()">
    <p (click)="onClick(todo)">
        <input (change)="onToggle(todo)" type="checkbox"/>
        <span *ngIf="!selectedTodo || todo.id != selectedTodo.id" class="todo-row">{{ todo.title }}</span>

        <span *ngIf="selectedTodo && todo.id == selectedTodo.id">
            <input [(ngModel)]="selectedTodo.title" placeholder="description"/>
            <button (click)="saveTodoItem(todo)">Save</button>
        </span>
        
        <button (click)="onDelete(todo)" class="del">x</button>
    </p>
</div>