div{
    margin-top: 15px;
  }

  button {
    background-color: #DDD;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }

.line {
    margin: 12px;
}

input  {
  width: 100%;
}